<div class="container">
  <div class="row mb-1">
    <div class="col-3 mb-2"></div>
    <div class="col-6 mb-2 col-offset-6">
      <div class="card">
        <h5 class="card-header">ID: <input type="text" value="{{maxLenght}}" #ID></h5>
        <div class="card-body">
          <h5 class = "card-title">
            Online: <input type="checkbox" checked #Online>
          </h5>
          <p class="class-text">Name: <input type="text" placeholder="Jane" #Name></p>
          <button (click)="addSensor(ID, Online, Name)">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-6 mb-2" *ngFor="let sensor of sensors">
      <div class="card">
        <h5 class="card-header">ID {{sensor.id}}</h5>
        <div class="card-body">
          <h5 class = "card-title" [ngClass]="{'text-success': sensor.status, 'text-danger': !sensor.status}">
            {{(sensor.status)? "Online" : "Offline"}}
          </h5>
          <p class="class-text">{{sensor.name}}</p>
          <button (click)="deleteSensor(sensor.id)" >Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
